body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f7f7f7;
    position: relative;
}

.btn-circle {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    border-radius: 35px;
    text-align: center;
    font-size: 24px;
    color: #000;
    padding: 15px;
    background-color: #FBF230;
    -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    display: none;
    z-index: 2500;
}

.btn-circle i{
    color: #000;
}

.shadowed {
    -webkit-box-shadow: -1px 1px 3px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px 4px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px 4px rgba(0,0,0,0.75);
}

.container-padding {
    padding-top: 5px;
    padding-left: 30px;
}

.nav-item ul li .dropdown-item {
    border-radius: .25rem;
}

.nav-link, .nav-item ul li a {
    color: #fff;
}

.nav-link.active, .dropdown-item.active {
    background-color: #FBF230 !important;
    color: #404040 !important;
}

.nav-link:hover, .dropdown-item:hover {
    color: #FBF230;
    background-color: transparent;
}

.navbar {
   color: #fff;
   display: block;
   height: 100%;
}

a {
    text-decoration: none;
}

.navbar-brand.bottom img {
    height: 5rem;
    width: 5rem;
}

.navbar-expand-lg .navbar-brand {
    display: none;
}

.navbar-brand.bottom{
    position: absolute;
    display: block;
    bottom: 10px;
    left: 1rem;
}

@media (max-width: 575px) {
    .btn-circle{
        display: block;
    }
}